body{
    margin: 0px;
    padding:0px;
}

.carousel-item img{
    margin-top: 56px;
}

#carsBd{
    --bs-gutter-x: 0em;
}

#myDiv {
    display: none;
    text-align: center;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -76px;
}

.stylesInputSelect{
    position: absolute;
    background: white;
    color: black;
    text-align: initial;
    cursor: pointer;
    width: 238px;
    padding: 10px;
    overflow: scroll;
    height: 150px;
}
