body{
    margin: 0px;
    padding:0px;
    height: 100%;
    background-color: #fbfbfb;

}

h1{
    letter-spacing: 5px;
}

#myDiv {
    display: none;
}



#divShow p{
    padding: 5px;
    cursor: pointer;
}

#divShow p:hover{
    background-color: #b4b0b0;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#navBarWeb{
    background:dodgerblue;
}

.nav-item a{
    color:#FFF;
}

.nav-item a:active{
    color:#000;
}

.carousel-item img{
    margin-top: 56px;
}

#carsBd{
    --bs-gutter-x: 0em;
}

.dropdown-menu{
    background:dodgerblue;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -76px;
}

.stylesInputSelect{
    position: absolute;
    background: white;
    color: black;
    text-align: initial;
    width: 238px;
    padding: 10px;
    overflow: scroll;
    height: 150px;
}

#divShow{
    background-color: #fbfbfb;
    border: 1px solid rgb(179, 179, 179);
}

#moreSearch h1{
    text-align:center;
}

.sectionProductsOne{
    margin-top: 100px;
}

.pagination{
    margin-top: 20px;
}

.pagination li{
    padding: 5px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.disabled{
    display: none;
    
}

.promotion{
    margin-top: 100px;
}

.colorCardPromo{
    background-color: azure;
}

.sectionPays{
    margin-top: 100px;
}

.heightPromo{
    height: 190px;
    margin: 15px;
}

.heightPay{
    height: 120px;
    margin: 15px;
}

.bgPromo {
    /* The image used */
    background-image: url("../imgs/crsl/crs1.jpg");
  
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.bgPay {
    /* The image used */
    background-image: url("../imgs/crsl/crs1.jpg");
  
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#footer{
    padding:25px;
}

#footer h3{
    color: #FFF;
}

#footer h4{
    color: #FFF;
}

#footer p{
    color: deepskyblue;
}

#footer a{
    text-decoration: none;
}

#topBtn {
    width: 62px;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 11px;
    z-index: 99;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 8px;
    border: solid 1px dodgerblue;
}

#topBtn svg {
    width: 40px;
    height: auto;
}

#topBtn:hover {
    background-color: #fff;
    color: dodgerblue;
    cursor: pointer;
}
