<!doctype html>
<html lang="es"  ng-app="papeApp" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Papelería Catálogos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" >
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <!-- Bootstrap JavaScript Libraries -->
    </head>
<body ng-controller="pageLoadAppCtrl" data-ng-init="myFunction()" >
    <div id="loader" >
        <div class="d-flex align-items-center">
            <strong>Cargando...  </strong>
            <!-- <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div> -->
          </div>
    </div>
    <div style="display:none;" id="myDiv" >

      <nav id="navBarWeb" class="navbar navbar-expand-lg fixed-top" >
          <div class="container">
              <a class="navbar-brand" href="#">Papelería</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ng-click="scrollTo('promoDiv')">Promociones</a>
                  </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Escolar</a></li>
                      <li><a class="dropdown-item" href="#">Oficina</a></li>
                      <li><a class="dropdown-item" ng-click="scrollTo('serviCenterDiv')">Papel</a></li>
                      <li><a class="dropdown-item" ng-click="scrollTo('serviCenterDiv')">Computo e Impresión</a></li>
                      <li><a class="dropdown-item" href="#">Arte y Manualidades</a></li>
                      <li><a class="dropdown-item" ng-click="scrollTo('serviCenterDiv')">Regalos y Fiestas</a></li>
                  </ul>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link ">Contactanos</a>
                  </li>
              </ul>

              <div class="d-none d-lg-block" >
                  <form class="d-flex .d-none .d-xxl-block" role="search">
                    <div>
                        <div class="input-group">
                            <input  style="background:#fbfbfb;"auto-complete ui-items="names" ng-model="selected" type="text" class="form-control" placeholder="Ejemplo: Pluma punto fino" aria-label="Username" aria-describedby="basic-addon1">
                            <!-- <span class="input-group-text" id="basic-addon1" ng-click="clearList()">x</span> -->
                            <span class="input-group-text btn btn-success">Buscar</span>
                        </div>                          
                        <div id="divShow" class="stylesInputSelect " ng-show="showlist">
                            <p ng-repeat="name in names" ng-show="([name.Name] | filter:selected).length" ng-click="selectedItem($event, name)">
                                <span >{{name.Name}} {{ (names | filter: selected).length }} </span>
                            </p>
                            <p ng-show="(names | filter: selected).length == 0 || (names | filter: selected).length == null">not found</p>


                        </div>
                    </div>
                  </form>
              </div>

              </div>
          </div>
      </nav>
      <ng-view ng-click="clearList()"></ng-view>

    </div>

    <a onclick="topFunction()" class="button" id="topBtn" title="Regresar a arriba">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
    </a>
    

    <script src="js/index.js"></script>
    <script src="js/controllers/mailCtrl.js"></script>
    <script src="js/services/mailService.js"></script>
    <script>
        $('#go').click(function(){
            $('#showMsg').fadeIn().delay(3000).fadeOut();
            });
  
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>